{
  "env": {
    "es2021": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": false }],
    "react/function-component-definition": [
      "error",
      { "namedComponents": "arrow-function" }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "jsx-quotes": [2, "prefer-single"],
    "object-curly-newline": "off",
    "comma-dangle": ["error", "never"],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-fragments": ["warn", "element", { "minimumChildren": 2 }],
    "arrow-body-style": ["error", "as-needed"]
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx", "**/*.test.js", "**/*.spec.ts", "**/*.spec.tsx", "**/*.test.ts", "**/*.test.tsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
